<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listings</title>
    <link rel="shortcut icon" th:href="@{/image/content/logo/logo-title.webp}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/profile-listings.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/account.css}" type="text/css">
</head>
<body>
<div th:insert="~{fragment :: header}"></div>

<div class="profile-page">
    <div class="menu" th:insert="~{fragment :: menu}"></div>

    <div class="work-zone">
        <div class="listing-nav-bar">
            <span>Account settings</span>
            <a href="#">Profile settings</a>
        </div>

        <div class="display-zone">
            <div class="update">
                <p>Update account info</p>
                <form th:action="@{/accounts/{id}/update(id=${user.id})}" method="post">
                    <label for="email">Email: </label>
                    <input id="email" type="email" name="email" th:value="${user.email}">
                    <br>
                    <label for="username">Username: </label>
                    <input id="username" type="text" name="username" th:value="${user.username}">
                    <br>
                    <button type="submit">Update account info</button>
                </form>
            </div>

            <div class="update">
                <p>Update password</p>
                <form th:action="@{/accounts/{id}/update-password(id=${user.id})}" method="post">
                    <label for="oldPassword">Old password: </label>
                    <input id="oldPassword" type="password" name="oldPassword" required>
                    <br>
                    <label for="newPassword">New password: </label>
                    <input id="newPassword" type="password" name="newPassword" required>
                    <br>
                    <label for="confirmPassword">Confirm password: </label>
                    <input id="confirmPassword" type="password" name="confirmPassword" required>
                    <br>
                    <button type="submit">Update password</button>
                </form>
                <a href="/accounts/forgot-password">Forgot Password?</a>
            </div>
        </div>
    </div>
</div>

<div th:insert="~{fragment :: footer}"></div>
</body>
</html>