<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listings</title>
    <link rel="shortcut icon" th:href="@{/image/content/logo/logo-title.webp}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/profile-listings.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/searchBox.css}">
</head>
<body>
<div th:insert="~{fragment::header}"></div>

<div class="profile-page">
    <div class="menu" th:insert="~{fragment::menu}"></div>

    <div class="work-zone">
        <div class="listing-nav-bar">
            <span>Listings</span>
            <form th:href="@{#}">
                <button type="submit">Sort by</button>
                <label for="listing">
                    <select id="listing" name="listing">
                        <option th:each="listingStatus: ${listingStatuses}" th:text="${listingStatus}">Status</option>
                    </select>
                </label>
            </form>
        </div>

        <div class="display-zone">
            <div th:each="userRental: ${userRentals}" class="users-listing" th:object="${userRental}">
                <div class="listing-info">
                    <div class="listing-info-text">
                        <span th:text="*{addressDto.streetDto.name + ', ' + addressDto.cityReadDto.name + ', ' + addressDto.houseNo}"></span>
                        <p th:text="*{'Status: ' + status.name().toLowerCase()}">Status</p>
                        <p th:text="*{'Owner: ' + userReadDto.username}"></p>
                        <p th:text="*{'Phone number: ' + userReadDto.profileReadDto.phoneNumber}"></p>
                        <p th:text="*{'Price: ' + price}"></p>
                    </div>
                </div>
                <div class="listing-details">
                    <a th:href="@{/rentals/rental-details/{id}(id=${userRental.id})}">Rental info</a>
                </div>
            </div>
        </div>

    </div>
</div>

<div th:insert="~{fragment::footer}"></div>
</body>
</html>