<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lease.by</title>
    <link rel="shortcut icon" th:href="@{/image/content/logo/logo-title.webp}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/change-password.css}" type="text/css">
</head>
<body>
<div th:insert="~{fragment :: header}"></div>

<div class="change-password">
    <form th:action="@{/accounts/user/change-password}" method="post">
        <input type="hidden" name="token" th:value="${token}">
        <input type="hidden" name="username" th:value="${username}">
        <label for="newPassword">New password: </label>
        <input id="newPassword" type="password" name="password">
        <br>
        <label for="confirmPassword">Confirm password: </label>
        <input id="confirmPassword" type="password" name="confirmPassword">
        <br>
        <button type="submit">Save password</button>
    </form>
</div>

<div th:insert="~{fragment :: footer}"></div>
</body>
</html>