<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lease.by</title>
    <link rel="shortcut icon" th:href="@{/image/content/logo/logo-title.webp}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/forgot-password.css}" type="text/css">
</head>
<body>
<div th:insert="~{fragment :: header}"></div>

<div class="forgot-password">
    <p>Enter your email for a getting a reset link</p>
    <form id="reset-form" th:action="@{/api/v1/email/account/reset-password}" method="post">
        <label for="receiverEmail">
            <input id="receiverEmail" type="email" name="receiverEmail" placeholder="example@gmail.com" required>
        </label>
        <button type="submit">Send reset link</button>
    </form>
    <script src="/js/successResetRedirect.js"></script>
</div>

<div th:insert="~{fragment :: footer}"></div>
</body>
</html>