<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form th:action="@{/account/create}" method="post" th:object="${user}">
    <label for="email">Email:
        <input id="email" type="email" name="email" th:value="*{email}">
    </label><br>
    <label for="username">Username:
        <input id="username" type="text" name="username" th:value="*{username}">
    </label><br>
    <label for="password">Password:
        <input id="password" type="password" name="password">
    </label><br>
    <input id="role" type="hidden" name="role" th:value="'USER'">
    <button type="submit">Register</button>
</form>

<div th:if="${errors}">
    <p th:each="error : ${errors}" th:text="${error.defaultMessage}">Error message</p>
</div>
</body>
</html>