.header {
    height: 11%;
}

body {
    justify-content: flex-start;
}

footer {
    top: 100%;
}

.map {
    width: 63%;
    height: 90%;
    justify-content: flex-start;
    position: absolute;
    display: flex;
    top: 11%;
}

.rentals-work-zone {
    width: 37%;
    height: 90%;
    left: 63%;
    position: absolute;
    top: 11%;
}

.rental-image-slider {
    height: 60%;
    width: 100%;
}

.rental-image-slider img {
    width: 100%;
    height: 100%;
    border-radius: 35px;
}

.rentals {
    width: 100%;
    height: 96%;
    overflow-y: scroll;
}

.rental-summary {
    height: 37%;
    width: 100%;
    margin-top: 12px;
    color: white;
    font-size: 20px;
}

.summary-info {
    height: 100%;
    width: 80%;
    float: left;
}

.rental-details-btn {
    height: 40%;
    width: 20%;
    float: right;
    top: 60%;
    position: relative;
}

.rental-details-btn a {
    width: 90%;
    position: absolute;
    height: 60%;
    background-color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 22px;
    top: 22%;
    left: 3%;
    color: #3cb6d3;
}

.rental-details-btn span {
    position: relative;
    top: 20%;
}

.rental {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
    width: 100%;
    height: 80%;
    margin: 6px;
    border-radius: 35px;
}

.pagination-bar {
    background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
    width: 100%;
    top: 95%;
    height: 5%;
    position: absolute;
    text-align: center;
}

.pagination-bar-btn {
    display: flex;
    justify-content: center;
}

.pagination-bar-btn form {
    margin: 5px;
}

.pagination-bar-btn form button {
    width: 190px;
    border: none;
    border-radius: 8px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #42404000;
    border-radius: 12px;
}