<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
<div class="header" th:fragment="header">
    <div class="logo_div">
        <img src="/image/content/logo/logo.webp" alt="Logo">
        <a href="/cities" class="logo">Lease.by</a>
    </div>
    <nav class="navbar">
        <a href="#">About</a>
        <a th:href="@{/rentals/post-rental}">Post a rental</a>
        <a sec:authorize="isAnonymous()" th:href="@{/login}">Login</a>
        <a sec:authorize="isAuthenticated()" th:href="@{'/rentals/account/' + ${#authentication.principal.username}}"
           th:text="${#authentication.principal.username}"></a>
        <a sec:authorize="isAuthenticated()" href="javascript: document.logoutForm.submit()" role="menuitem">Logout</a>
        <form name="logoutForm" th:action="@{/logout}" method="post" th:hidden="true">
            <input hidden type="submit" value="Sign Out"/>
        </form>
    </nav>
</div>

<ul th:fragment="menu">
    <li>
        <img th:src="@{/image/content/menuBar/listings.webp}" alt="listings">
        <a href="">
            <span>Listings</span>
        </a>
    </li>
    <li>
        <img th:src="@{/image/content/menuBar/draft.webp}" alt="drafts">
        <a href="#">
            <span>Drafts</span>
        </a>
    </li>
    <li>
        <img th:src="@{/image/content/menuBar/user-profile.webp}" alt="userProfile">
        <a th:href="@{/accounts/{id}(id=${userRentals != null ? userRentals.get(0).getUserReadDto().getId() : user.id})}">
            <span>Account</span>
        </a>
    </li>
</ul>

<footer th:fragment="footer">
    <div class="footer-content">
        <h3>Lease.by</h3>
        <p>Thousands of apartments, houses, and condos for rent across Belarus</p>
        <ul class="socials">
            <li><a href="#"><img th:src="@{/image/content/icon/facebook.webp}" alt="facebook"></a></li>
            <li><a href="#"><img th:src="@{/image/content/icon/github.webp}" alt="github"></a></li>
            <li><a href="#"><img th:src="@{/image/content/icon/linkedin.webp}" alt="linkedin"></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2023 travel.by designed by <span>Alex</span></p>
    </div>
</footer>
</body>
</html>