<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="~{fragment::header}"></div>

<form action="#">
    <label>Prop type:
        <input type="text" name="search">
        <input type="text" name="search">
        <select multiple="multiple">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
    </label>
    <div th:each="utility: ${rental.features}">
        <label th:for="${utility}">
            <input th:id="${utility}" type="checkbox" name="utilities" th:value="${utility}"
                   th:text="${utility}">
        </label>
    </div>
    <button type="submit">Search</button>
</form>

<div>
    <p th:text="${rental.features}"></p>
    Hi from rental info!
    <div th:each="imageEntry: ${rental.images}">
        <img th:src="@{/rentals/image/{image}(image=${imageEntry})}" alt="Image">
    </div>
</div>

</body>
</html>