<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <div th:each="rental: ${rentals}">
        <p th:text="${rental.addressDto.streetDto.name}">Rental</p>
        <p th:text="${rental.amenities}">Rental</p>
        <p th:text="${rental.features}">Rental</p>
        <a th:href="@{/rentals/{cityName}/{rentalId}(cityName=${rental.addressDto.cityReadDto.name},rentalId=${rental.id})}">Rental info</a>
    </div>
</div>
</body>
</html>