<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lease.by</title>
    <link rel="shortcut icon" th:href="@{/image/content/logo/logo-title.webp}" type="image/x-icon">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&lang=ru_RU"
            type="text/javascript"></script>
    <script src="https://search-maps.yandex.ru/v2/1/" type="text/javascript"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script src="/js/filterBar.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/rentals.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/sortingBar.css}" type="text/css">

</head>
<body>
<div th:insert="~{fragment :: header}"></div>

<div>
    <div class="map" id="map"></div>
    <script type="text/javascript" src="/js/addressesMapRepresentation.js"></script>

    <div class="rentals-work-zone">
        <div class="filter-zone">
            <div class="filter-bar">
                <a class="filter-dropdown">
                    <span class="filter-dropdown-text">Filter rentals</span>
                </a>
            </div>

            <div class="edit-filter-modal hidden">
                <form class="filterForm" th:action="@{/api/v1/rentals/redirect-filter}">
                    <div class="choose-zone">
                        <p>Property type: </p>
                        <label th:each="propertyType: ${propertyTypes}" th:for="${propertyType}">
                            <input th:id="${propertyType}" type="radio" name="propertyType" th:value="${propertyType}">
                            <span th:text="${propertyType}"></span>
                        </label>
                    </div>

                    <div class="choose-zone">
                        <p>Furnished: </p>
                        <label th:each="furnished: ${furnished}" th:for="${furnished}">
                            <input th:id="${furnished}" type="radio" name="furnished" th:value="${furnished}">
                            <span th:text="${furnished}"></span>
                        </label>
                    </div>

                    <div class="choose-zone">
                        <p>House category: </p>
                        <label th:each="category: ${categories}" th:for="${category}">
                            <input th:id="${category}" type="checkbox" name="categories" th:value="${category}">
                            <span th:text="${category}"></span>
                        </label>
                    </div>

                    <div class="choose-zone">
                        <p>Utilities included: </p>
                        <label th:each="utility: ${utilities}" th:for="${utility}">
                            <input th:id="${utility}" type="checkbox" name="utilities" th:value="${utility}">
                            <span th:text="${utility}"></span>
                        </label>
                    </div>

                    <div class="choose-zone">
                        <p>Bedrooms: </p>
                        <label th:each="number: ${bedrooms}" th:for="${number}">
                            <input th:id="${number}" type="radio" name="countOfBedrooms" th:value="${number}">
                            <span th:text="${number}"></span>
                        </label>
                    </div>

                    <div class="choose-zone">
                        <p>Pet friendly: </p>
                        <label for="yes">
                            <input id="yes" type="radio" name="petFriendly" value="true">
                            <span>Yes</span>
                        </label>
                        <label for="no">
                            <input id="no" type="radio" name="petFriendly" value="false">
                            <span>No</span>
                        </label>
                    </div>

                    <label for="priceFrom">Price from: </label>
                    <input id="priceFrom" type="text" name="priceFrom"><br>
                    <label for="priceTo">Price to: </label>
                    <input id="priceTo" type="text" name="priceTo"><br>
                    <label for="yearBuilt"></label>
                    <input id="yearBuilt" type="date" name="yearBuilt">
                    <input id="cityName" type="hidden" name="cityName" th:value="${cityName}">
                    <script src="/js/setCityName.js"></script>
                    <button class="apply-button" type="submit">Filter</button>
                </form>
                <button id="cancelButton" class="text-button">Cancel</button>
                <button id="clearButton" class="text-button">Clear filters</button>
                <script src="/js/cleanFilterFromStorage.js"></script>
            </div>
        </div>

        <script src="/js/rentalFilterBuilder.js"></script>

        <div class="rentals">
            <div class="rental" th:each="rental: ${rentals.content}">

                <div class="rental-image-slider">
                    <img th:src="@{/image/rental/intro/{image}(image=${rental.introImage})}" alt="Intro">
                </div>

                <div class="rental-summary">
                    <div class="summary-info">
                        <p th:text="${rental.addressDto.streetDto.name} + ' ' + ${rental.addressDto.houseNo}">Street
                            name</p>
                        <p th:text="'Owner: ' + ${rental.userReadDto.email}">Owner email</p>
                        <p th:text="'Owner phone number: ' + ${rental.userReadDto.profileReadDto.phoneNumber}">Owner
                            phone number</p>
                    </div>
                    <div class="rental-details-btn">
                        <a th:href="@{/rentals/rental-details/{id}(id=${rental.id})}">
                            <span>Rental info</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="pagination-bar">
            <div class="pagination-bar-btn" th:object="${rentals.metadata}">
                <form id="prevForm" th:action="@{/api/v1/rentals/redirect-filter}" method="get">
                    <button type="button" onclick="submitForm('prev')">Prev</button>
                    <input type="hidden" name="page" th:value="*{page - 1 < 0} ? 0 : *{page - 1}">
                    <input th:if="${filter != null && filter.cityName == null}" type="hidden" name="cityName">
                </form>

                <form id="nextForm" th:action="@{/api/v1/rentals/redirect-filter}" method="get">
                    <button type="button" onclick="submitForm('next')">Next</button>
                    <input type="hidden" name="page" th:value="*{page + 1 >= totalPages} ? *{page} : *{page + 1}">
                    <input th:if="${filter != null && filter.cityName == null}" type="hidden" name="cityName">
                </form>
            </div>
            <script src="/js/paginationButtonsFilter.js"></script>
        </div>
    </div>
</div>

<div th:insert="~{fragment :: footer}"></div>
</body>
</html>