<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lease.by</title>
    <link rel="shortcut icon" th:href="@{/image/content/logo/logo-title.webp}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/city.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/searchBox.css}" type="text/css">
</head>
<body>
<div th:insert="~{fragment::header}"></div>

<div class="intro">
    <h1>It's Time to Move</h1>
    <h2>Thousands of apartments, houses, and condos for rent across Belarus</h2>
</div>

<div class="wrapper">
    <div class="search-input">
        <a href="" target="_blank" hidden></a>
        <input type="text" placeholder="Type to search..">
        <div class="autocom-box">
<!--            here list are inserted from javascript-->
        </div>
<!--        <div class="icon"><img th:src="@{/image/content/icon/search_button.svg}" alt="search"><i class="fas fa-search"></i></div>-->
    </div>
</div>

<!--<div class="search_box">-->
<!--    <input type="text" class="search_txt" placeholder="Search city, neighbourhood or address...">-->
<!--    <a href="#" class="search_btn">-->
<!--        <img th:src="@{/image/content/icon/search_button.svg}" alt="search">-->
<!--    </a>-->
<!--    <div class="autocom-box">-->
<!--        here list are inserted from javascript-->
<!--    </div>-->
<!--</div>-->

<div class="desc">
    <h1>Popular Cities</h1>
    <h2>Find your next apartment for rent anywhere in Belarus</h2>
</div>

<div class="cities">
    <div th:each="city: ${cities}">
        <a th:href="@{/rentals/{cityName}(cityName=${city.name})}">
            <img th:src="@{/image/content/city/{image}(image=${city.image})}" th:alt="${city.name}">
            <h3>
                <span th:text="${city.name}">City</span>
            </h3>
        </a>
    </div>
</div>

<div th:insert="~{fragment::footer}"></div>

<script th:src="@{/js/autoCompleteSearchBox.js}"></script>
</body>
</html>