<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lease.by</title>
    <link rel="shortcut icon" th:href="@{/image/content/logo/logo-title.webp}" type="image/x-icon">
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/footer.css}" type="text/css">
</head>
<body>
<div th:insert="~{fragment::header}"></div>
<div th:each="city: ${cities}">
    <a th:href="@{/rentals/{cityName}(cityName=${city.name})}" th:text="${city.name}">City</a>
</div>
</body>
</html>